<footer class="bg-dark">
  <p class="text-xs-center">&copy; Copyright 2021, Zach Stein. All rights reserved.</p>
  <div class="btn-group">
      <a href="https://www.linkedin.com/in/zach-stein-90654b5/" role="button" target="_blank">
        <img src="/assets/images/linkedin-3-xxl.png" width="32" height="32" alt="Follow me on linked in"/>
      </a>
      <a href="https://www.instagram.com/kodiakwoodchuck/" role="button" style="margin-left: 20px" target="_blank">
        <img src="/assets/images/instagram-xxl.png" width="32" height="32" alt="Follow me on instagram"/>
      </a>
      <a href="https://github.com/snoop0x7b" role="button" style="margin-left: 20px" target="_blank">
        <img src="/assets/images/github-11-xxl.png" width="32" height="32" alt="Github" />
      </a>
  </div>
</footer>
