<div class="container">
  <h1>
    Zach Stein
  </h1>
  <h3>
    Software Developer
  </h3>
  <p>
    Software developer specializing in ecommerce and general web application development.
  </p>
  <h2>Skills</h2>
  <app-skills></app-skills>
  <h2>Experience</h2>
  <div class="resume-position">
    <h4>Holt's Cigar Company</h4>
    <h5>Senior/Lead Software Developer</h5>
    <em>2013-present</em>
    <ul>
      <li>
        Lead a team of 6 developers
      </li>
      <li>
        Oversaw development and successful launch of Holt's and Ashton Distributors Magento and Drupal sites.
      </li>
      <li>
        Member of the ecommerce steering committee, participated in strategic decision making for Holts.com for SEO, digital marketing, and other features.
      </li>
      <li>
        Acted as a liaison between management, stakeholders, and the development team
      </li>
      <li>
        Provided architectural guidance on Magento 1 and Magento 2 projects.
      </li>
      <li>
        Built bi-directional catalog, inventory, customer, and order integration between both Magento 1 and Magento 2 and Dynamics AX.
      </li>
      <li>
        Implemented agile project management methodologies
      </li>
      <li>
        Built a cigar rating social media application using Angular, Bootstrap, and Laravel
      </li>
    </ul>
  </div>
  <div class="resume-position">
    <h4>Interactive Worldwide</h4>
    <h5>Senior Software Engineer</h5>
    <em>2012-2013</em>
    <ul>
      <li>
        Lead a team of 3 developers working to implement an ecommerce marketplace using JEE, MySQL, and Couchbase.
      </li>
      <li>
        Conducted code reviews
      </li>
      <li>
        Implemented development processes, including the use of JIRA issue tracking software, git, and Jenkins continuous integration.
      </li>
      <li>
        Developed an Android application to control a brake press using an IOIO breakout board and Android ADK.
      </li>
    </ul>
  </div>
  <div class="resume-position">
    <h4>Mimeya Technology</h4>
    <h5>Software Developer</h5>
    <em>2009-2012</em>
    <ul>
      <li>Relational database design using MySQL</li>
      <li>Enterprise Java development using JEE, JSF, and JBoss application server</li>
      <li>Ecommerce application development using PHP (Code Igniter) and JEE</li>
      <li>Healthcare application and claims processing using MIRTH [HL7, NCPDP 5.1, NCPDP D.0] and JEE/EJB</li>
      <li>Web application development using PHP/Code Igniter</li>
    </ul>
  </div>
  <div class="resume-position">
    <h4>
      Franklin and Marshall College
    </h4>
    <h5>Helpdesk Manager, Developer, Network and Systems Intern</h5>
    <em>2004-2008</em>
    <ul>
      <li>
        Developed and led training sessions for student employees in the IT Helpdesk
      </li>
      <li>
        Developed student time-tracking/timeclock software using PHP and PostgreSQL
      </li>
      <li>
        Developed anti-fraud controls for the timeclock system
      </li>
      <li>
        Conducted port auditing for the network and systems team
      </li>
      <li>
        General network equipment maintenance
      </li>
    </ul>
  </div>
  <h2>Education</h2>
  <h4>La Salle University</h4>
  <h5>Philadelphia, PA</h5>
  <em>2018-2020</em>
  <p>MS CIS, graduated with departmental honors</p>
  <!--
  <h6>Classes</h6>
  <ul>
    <li>Mobile Application Development with Android</li>
    <li>Data Mining/Machine Learning</li>
    <li>Modeling and Simulation with R</li>
    <li>Agile Development Methodologies</li>
  </ul>
  -->
  <h4>Franklin and Marshall College</h4>
  <h5>Lancaster, PA</h5>
  <em>2004-2008</em>
  <p>BS Geology, Minor Computer Science</p>
</div>
