<div class="jumbotron" style="background-color: #fff; height: calc(95vh);">
  <div class="container-xl">
  <h1 class="display-4">Zach Stein</h1>
  <p class="lead">
    Developer, Woodworker
  </p>
  <hr class="my-4" />
  <p>
    Hi, I'm Zach, I'm a developer in Philadelphia. I love cats, golf, woodworking, and landscape photography, in no particular order, well maybe cats first. I primarily specialize in ecommerce applications
    and would consider myself a full stack developer.
  </p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" routerLinke="/about" role="button">About</a>
  </p>
  </div>
</div>
