<div class="jumbotron" style="background-color: #fff; height: calc(95vh);">
  <div class="container-xl">
    <h1 class="display-4">Zach Stein</h1>
    <p class="lead">
      Developer, Woodworker
    </p>
    <hr class="my-4"/>
    <p>
      Hi, I'm Zach, I'm a developer in Philadelphia. I love my cats, golf, woodworking, and landscape photography, in no particular order, well maybe the cats first. I primarily
      specialize in ecommerce application development and would consider myself a full stack developer.
    </p>
    <p>
      I'm passionate about building scalable software and teams. I have experience working in a variety of industries including ecommerce/retail, healthcare, consulting, and mobile
      development.
    </p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" [routerLink]="['/about']" role="button">About This Site</a>
    </p>
  </div>
</div>
